[submodule ".vim/pack/plugins/start/zig.vim"]
	path = .vim/pack/plugins/start/zig.vim
	url = https://github.com/ziglang/zig.vim
  branch = master
[submodule ".vim/pack/plugins/start/asyncrun.vim"]
	path = .vim/pack/plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
