[user]
	email = justin.b.alexander1@gmail.com
	name = vegecode
[diff]
	algorithm = histogram
	indentHeuristic = true
	colorMoved = true
	ignoreSubmodules = dirty
[credential]
	helper = cache --timeout=3600
[core]
	autocrlf = false
